# Server Configuration
PORT=3000
NODE_ENV=development

# Google OAuth
GOOGLE_CLIENT_ID=161811534652-vqfks1ooidjcp5eq24uqdbuebp5q1bjg.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

# JWT Secret
JWT_SECRET=i45ngxir4Z3JRADjENHhEhM7Tmz2Nw7OoXCydrmOAXk

# Cloudflare R2 (S3 Compatible)
R2_ENDPOINT=https://pub-3ab59b8f25ba43769d968211da80e759.r2.dev
R2_ACCESS_KEY_ID=e1e7ffa863461bc904214b3c3aaf392e
R2_SECRET_ACCESS_KEY=yd3ec42a08f011807da7030944c0634215637369f3560decc2d8b8a1359255241
R2_BUCKET_NAME=zidhuxd-server

# Public CDN URL (Cloudflare R2 custom domain or public URL)
CDN_BASE_URL=https://cdn.zidhuxd.com
